<div class="col-md-12">
  <h2 class="text-center">后台管理系统</h2>
  <div class="group">
    <%= link_to("Add New Job",new_admin_job_path,class:"btn btn-primary pull-right")%>
  </div>
  <table class="table table-boldered table-striped custab" >
    <thead>
      <tr>
        <th>职位名称</th>
        <th>求职者数量</th>
        <th>管理选项</th>
        <th>职位要求</th>
        <th>发布时间</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job|%>
        <tr>
          <td>
            <%= render_job_status(job)%>
            <%= link_to(job.title,admin_job_path(job))%>
          </td>
          <td><%= link_to(job.resumes.count,admin_job_resumes_path(job))%></td>
          <td>
                <%= link_to("Edit", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
                <%= link_to("Destroy", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
                 <% if job.is_hidden %>
                    <%= link_to("Publish", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                 <% else %>
                    <%= link_to("Hide", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                 <% end %>
          </td>        <td><%= render_job_discription(job)%></td>
          <td><%= job.created_at.to_date%></td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>
