<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
         <a class="navbar-brand" href="/" >51 Offer  <img src="<%= image_url 'logo.png'%>" alt=""></a>
         <span>  Give you the Best</span>
    </div>
    <div class="collapes navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li><%= link_to("登录",new_user_session_path)%></li>
        <li><%= link_to("马上加入",new_user_registration_path)%></li>
        <% else %>
          <li>
             <a href="/" class="dropdown" data-toggle="dropdown">
               hi,<%= current_user.email %>!
               <b class="caret"></b>
             </a>
             <ul class="dropdown-menu">
               <% if current_user.admin? %>
                <li><%= link_to("admin panel",admin_jobs_path)%></li>
                <li class="divider"></li>
               <% end %>
               <li>
                  <%= link_to("退出",destroy_user_session_path,method: :delete)%>
               </li>
             </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
