<!DOCTYPE html>
<html>
  <head>
    <title>51 Offer</title>
    <%= favicon_link_tag 'jobicon.ico'%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'user', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
          <%= render 'common/navbar1'%>
      </div>
      <div class="container-fluid" id="signlog">
        <%= yield %>
      </div>
    </div>
      <%= render 'common/footer'%>
  </body>
</html>
